.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}

.editContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(300px * 2 + 5px * 2);
  height: calc(300px * 2 + 5px * 2 + 35px);
  position: relative;
  border: 1px solid;
}

.editPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 100vh;
}

.upperSemiCircle {
  position: absolute;
  top: 5px;
  left: 5px;
  height: calc(300px + 0.5px);
  width: calc(100% - 5px * 2);
  overflow: hidden;
}

.lowerSemiCircleContainer {
  width: 100%;
  transform: rotate(180deg);
}

.lowerSemiCircle {
  position: absolute;
  bottom: 15px;
  left: 5px;
  height: calc(300px + 0.5px);
  width: calc(100% - 5px * 2);
  overflow: hidden;
  transform: rotate(180deg);
}

/* center white circle */
.whiteCircle {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  z-index: 999;
  width: calc(300px + 10px);
  height: calc(300px + 35px);
  border: 1px solid;
  top: 50;
  left: 50;
}

.colorPickerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.colorInputContainer {
  display: flex;
  align-items: center;
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
  border: #a1a1a3 2px solid;
}

.colorInputDisplay {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.colorInput {
  appearance: none;
  border: none;
  letter-spacing: 0.5px;
}

.popularColors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.popularColorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popularColor {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  margin: 3px;
  border: 0.5px solid;
}

.popularColorContainer:hover {
  border: #a1a1a3 2px solid;
  border-radius: 5px;
}

.popularColor:hover {
  transform: scale(0.9);
}

.selectedPopularColorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #9f06b7 2px solid;
  border-radius: 5px;
  margin: 3px;
}

.selectedPopularColor {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  transform: scale(0.9);
}
